<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>What do you wanna do today?</h1>
    <form method="POST">
        <div>
            <textarea name="todo-text" placeholder="Add a new todo item" rows="10"></textarea>
        </div>
        <input type="submit" value="Add">
    </form>

    <ul>
        {% for todo in todos %}
        <li>{{todo.text}}</li>
        {% endfor %}
    </ul>
</body>
</html>